@import '/home/pective/.cache/wal/colors-waybar.css';

/* @define-color accent #383838;
@define-color text #f8f8f8;
@define-color invText #f8f8f8;
text when background is accent */


@define-color accent @color5;
@define-color bg @background;
@define-color text @foreground;


* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  border-radius: 0px;
  min-height: 0px;
}

window#waybar {
  background-color: @bg;
  color: @text;
  opacity: 1;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  padding: 0 5px;
  color: @text;
  background-color: transparent;
}

#workspaces button.active {
  background-color: @color2;
  color: @invText;
  /* color: @background; */
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-icon {
  background-color: transparent;
  color: @text;
  margin: 0px;
}


.modules-left {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}

#window {
  color: @invText;
  background-color: @bg;
  padding-left: 5px;
}

.modules-right {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}
#clock {
  color: #ffffff;
}
