//@theme "/home/pective/.local/share/rofi/themes/rounded-green-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/pective/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/pective/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/pective/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/pective/.local/share/rofi/themes/rounded-gray-dark.rasi"
@theme "/home/pective/.local/share/rofi/themes/spotlight-dark.rasi"
@import "~/.cache/wal/colors-rofi-dark"

